.cell{
    width: 80px;
    height: 80px;
}
button{
    width: 100%;
    height: 100%;
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: lightgray;
}
.main{
    display: flex;
    flex-direction: column;
}
.row{
   display: flex;
   flex-direction: row;
}
.label-style{
    font-family: Century Gothic, Futara, sans-serif;
    font-size: 14px;
}