.requemt{
    color: red;
}
.listUser table {
    border:1px solid black;
    border-collapse: collapse;
  }
.listUser td {
    border:1px solid black;
    border-collapse: collapse;
}
.listUser th{
    border: 1px solid black;
    border-collapse: collapse;
  }